{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="stylesheet" media="all" href="/modules/custom/cig_pods/css/usda-header-display.css">
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <script src="https://use.fontawesome.com/releases/v5.13.1/js/all.js" defer="" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.1/js/v4-shims.js" defer="" crossorigin="anonymous"></script>
    <script src="/modules/select2/js/select2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>

  <body{{ attributes.addClass(body_classes) }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>

    <div id="usda-header">
      <section class="usa-banner">
        <div class="usa-banner">
          <div class="usa-accordion">
            <header class="usa-banner__header">
              <div class="usa-banner__inner">
                <div class="grid-col-auto">
                  <img class="usa-banner__header-flag" src="https://cig.sc.egov.usda.gov/themes/uswds_base_subtheme/assets/img/favicons/flag-favicon-57.png" alt="U.S. flag">
                </div>
                <div class="grid-col-fill tablet:grid-col-auto">
                  <p class="usa-banner__header-text">An official website of the United States government</p>
                  <p class="usa-banner__header-action" aria-hidden="true">Here's how you know</p>
                </div>
                <button id="infoHeader" class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner" onclick="showInfo()">
                  <span class="usa-banner__button-text">Here's how you know</span>
                </button>
              </div>
            </header>
            <div class="usa-banner__content usa-accordion__content" id="gov-banner" hidden="">
              <div class="grid-row grid-gap-lg">
                <div class="usa-banner__guidance tablet:grid-col-6">
                  <img class="usa-banner__icon usa-media-block__img" src="https://cig.sc.egov.usda.gov/themes/uswds_base_subtheme/assets/img/icon-dot-gov.svg" alt="Dot gov">
                  <div class="usa-media-block__body">
                    <p>
                      <strong>The .gov means it’s official.</strong>
                      <br>
                      Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
                    </p>
                  </div>
                </div>
                <div class="usa-banner__guidance tablet:grid-col-6">
                  <img class="usa-banner__icon usa-media-block__img" src="https://cig.sc.egov.usda.gov/themes/uswds_base_subtheme/assets/img/icon-https.svg" alt="Https">
                  <div class="usa-media-block__body">
                    <p>
                      <strong>The site is secure.</strong>
                      <br>
                      The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="region region-header usa-navbar" role="banner">
        <div class="usa-logo site-logo" id="logo">
          <em class="usa-logo__text">
            <a class="logo-img" href="/" accesskey="1" title="Home" aria-label="Home">
              <img src="https://cig.sc.egov.usda.gov/sites/default/files/usda-logo_1.png" alt="Home">
            </a>
            <a href="/" accesskey="h" title="Home" aria-label="Home">
              Natural Resources Conservation Service
            </a><br>
            <p class="usa-font-lead">Conservation Innovation Grants</p>
          </em>
        </div>
        {% if logged_in %}
        <div class="logout-button">
            <div class="dropbutton-wrapper dropbutton-single" data-once="dropbutton">
              <div class="dropbutton-widget">
                <ul class="dropbutton dropbutton--standard dropbutton--single dropbutton--gin">
                  <li class="dropbutton__item dropbutton-action">
                    <a href="/user/logout">Logout</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <script>
      document.getElementById("infoHeader").onclick = function() {showInfo()};
      const button = document.getElementById('gov-banner');
      function showInfo() {
        if (button.hasAttribute("hidden")) {
          const element = document.getElementById("gov-banner").removeAttribute("hidden");
        } else {
          const element = document.getElementById("gov-banner").setAttribute("hidden", "");
        } 
      }
    </script>

     <script>
      document.getElementById("grape").onclick = function() {showInfo2()};
      const button2 = document.getElementById('collapse');
      function showInfo2() {
        if (button2.hasAttribute("hidden")) {
          const element = document.getElementById("collapse").removeAttribute("hidden");
        } else {
          const element = document.getElementById("collapse").setAttribute("hidden", "");
        } 
      }
    </script>
    <script>
    $(document).ready(function() {
      $('.select2-widget').select2({
      });
    });
    </script>
  </body>
</html>
